.game-card {
    border-radius: 10%;
    box-sizing: border-box;
    color: white;
    border: 1px solid black;
    transition: background-color 0.15s ease;
}

.game-card p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    font-size: 2em;
    user-select: none;
}