.nav-bar {
    background-color: #2A2E34;
    width: 100%;
    height: 60px;
    padding: 0px;
    color: #B4ADA1;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.nav-bar h1 {
    margin: 0px 20px;
    align-self: center;
}

.nav-bar p {
    margin: 0px 20px;
    padding: 0px;
    height: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #B4ADA1;
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
    user-select: none;
    cursor: pointer;
}

.nav-bar a:hover {
    text-decoration: underline;
    color: F8F6E8;
}